.PlayFullLyric {
  position: relative;
  z-index: 200;
  width: 100vw;
  height: 74vh;
  top: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  clear: both;
  color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
}

.PlayFullLyric::before {
  content: "";
  display: block;
  width: 100vw;
  height: 100px;
  position: absolute;
}

.PlayFullLyric .Lyric_box_ul {
  text-align: center;
  margin: 175px auto;
  font-size: 20px;
  width: 80vw;
}

.PlayFullLyric .Lyric_box_ul li {
  justify-content: baseline;
  align-items: center;
  position: relative;
}

.PlayFullLyric .Lyric_box_ul li span {
  text-align: center;
  display: block;
  width: 80vw;
  margin: 10px 0;
  height: 38px;
  padding: 0 10px;
  font-size: 19px;
  white-space: nowrap;
  word-break: normal;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PlayFullLyric .Lyric_box_ul li p {
  display: block;
  position: absolute;
  top: 0;
  right: -37px;
  color: grey;
  color: 8px;
  display: none;
}
