.bigPlayFooter {
    .controls_list_play_list {
        
        display: none;
        justify-content: center;

        position: fixed;
        width: 100vh;
        height: 450px;
        // overflow: hidden;
        bottom: 0;
        left: 0;
        background-color: rgba(145, 145, 147, 0.3);
        z-index: 9999;

        .play_list_box {
            padding: 0 15px;
            margin: 0 15px;
            width: 100vw;
            margin: 0 auto;
            // height: 70vh;
            overflow: scroll;
            position: absolute;
            bottom: 15px;
            left: 0;

            .play_list_box_inner {
                height: 70vh;
                // overflow: scroll;
                position: relative;
                bottom: 10px;
               
                // box-shadow: 0px 0px 5px 1px #ccc;
                background-color: white;
                border-radius: 0 0 19px 19px;
                
                h3 {
                    top: 145px;
                    height: 40px;
                    display: block;
                    width: 92vw;
                    padding-left: 15px;
                    background-color: white;
                    // background-color: pink;
                    text-align: left;
                    // margin-left: 15px;
                    line-height: 40px;
                    font-size: 20px;
                    display: flex;
                    position: fixed;
                    border-radius: 19px 19px 0px 0px;
                    // box-shadow: 0px 0px 5px 1px #ccc;
                 
                    border-bottom: 1px solid #ccc;

                    p {
                        color: rgb(160, 155, 155);
                    }

                }
                .swiper{
                    overflow: scroll;
                    margin-top: 2px;
                      height: 70vh;
                    ul {   
                        display: flex;
                        margin-top: 10px;
                        
                        // align-items: center;
                        flex-direction: column;
                        overflow: scroll;
                        justify-content:space-around;
    
                        li {
                            position: relative;
                            padding-left: 15px;
                            &:hover{
                                background-color: rgba(220, 218, 218, 0.768);
                            }
                            height:45px;
                            // justify-content: space-between;
                            text-align: left;
                            white-space: nowrap;
                            // border-bottom: 1px solid #ccc;
                            // background-color: pink;
                            font-size: 16px;
                            .shengying_ico{
                                display: inline-block;
                                // position: absolute;
                                // left: 0;
                                width: 20px;
                                height: 20px;
                                // line-height:20px;
                                margin-right: 5px;
                                img{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
    
                            p {
                                width: 70%;
                                display: inline-block;
                                // white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
    
                            }
                            .cuo{
                                position: absolute;
                                right: 15px;
                                font-weight: normal;
                                margin-left:60px;
                                font-size: 30px;
                                color: rgba(177, 173, 173, 0.7);
                            }
    
                        }
                    }
                }

              
            }
        }

    }

    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.2rem;
    // background-color: pink;
    z-index: 505;
    text-align: center;


    .progress {

        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .progress_left {
            color: rgba(218, 211, 211, 0.7);
            font-size: 12px;
            width: 10%;
            text-align: right;

        }

        .progress_right {
            color: rgba(213, 209, 209, 0.319);
            font-size: 12px;
            width: 10%;
            text-align: left;

        }


        .progress_center {
            z-index: 99;
            width: 70%;
            height: 3px;
            background: rgba(213, 209, 209, 0.319);
            position: relative;
            top: 0;
            left: 0;
            margin: 0 auto;
            border-radius: 4px;

            input {
                width: 100%;
                position: absolute;
                top: -7px;
                left: 0;
                z-index: 999;
                opacity: 0;
            }

            span {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background: rgba(240, 237, 237, 0.585);
                border-radius: 3px;

            }

            i {
                display: block;
                position: absolute;
                top: 0;
                left: 0%;
                width: 8px;
                height: 8px;
                background-color: white;
                border-radius: 50%;
                margin-top: -2.5px;

            }

        }


    }

    .controls {
        margin-top: 18px;


        justify-content: center;
        display: flex;
        align-items: center;

        img {
            width: 22px;
            height: 22px;
        }

        div {
            margin: 0 18px;
        }

        .controls_random {}

        .controls_pre {}

        .controls_pause_play {
            .controls_pause {
                img {
                    width: 40px;
                    height: 40px;
                }
            }



        }

        .controls_next {}

        .controls_list {}


    }

}